[[plugins]]
package = "@netlify/plugin-nextjs"

[build]
command = "npm run build"
publish = ".next"

[build.environment]
NEXT_TELEMETRY_DISABLED = "1"
NODE_VERSION = "20"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/nextjs/:splat"
status = 200

[functions]
node_bundler = "esbuild"
external_node_modules = ["@prisma/client", "prisma"]

[template]
incoming-hooks = ["Rebuild from GitHub"]
